<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Travel Plan Summary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Dear <span th:text="${proposal.customerName}">customerName</span></p>
    <p>Here is a summary of your travel proposal <b th:text="${proposal.name}">name</b></p>
    <ul>
      <li><b>Travel Name</b>: <span th:text="${proposal.travelName}"></span></li>
      <li><b>Travel Type</b>: <span th:text="${proposal.travelType}"></span></li>
      <li><b>Start</b>: <span th:text="${proposal.travelStartDate }"></span></li>
      <li><b>End</b>: <span th:text="${proposal.travelEndDate }"></span></li>
      <li><b>Airline Company</b>: <span th:text="${proposal.airlineCompany.name}"></span></li>
      <li><b>Hotel</b>: <span th:text="${proposal.hotel.name}"></span></li>
      <li><b>Travel Services</b>: <span th:text="${proposal.examplesOtherTravelServices}"></span></li>
    </ul>
    <p>
      Regards,
      <br />
      <em>AgileKip Team</em>
    </p>
  </body>
</html>
